<li class='d-flex justify-content-center mb-3'>
  <textarea name="url" cols="80" class='p-2 bg-light' placeholder="Input URL here" rows="2"></textarea>
</li>

<li class='d-flex justify-content-center mb-3'>
  <button class="btn btn-outline-info" type="submit" style="width: 50%;">Shorten</button>
</li>