<li class='d-flex justify-content-center mb-3'>
  <input type="text" name="url" placeholder="Input URL here" id="myInput" class='text-primary out-line-danger p-2'
    style="width: 60rem; height: 3.5rem; font-size:2.5rem">
</li>

<li class='d-flex justify-content-center mb-3'>
  <button class="btn btn-outline-info" type="submit" style="width: 50%;">Shorten</button>
</li>