<li class='d-flex justify-content-center mb-3'>
  <i class="fas fa-question mb-5" style="font-size: 25rem;"></i>
</li>

<h1 class='text text-dark' style="font-weight: 700;">不存在該網址，你真的讓我縮過了嗎？</h1>
<div class='d-flex justify-content-around mt-5'>
  <a href="/" class='btn btn-primary' onclick='noYouDont()' style="font-size: 1.5rem;">真的有啦</a>
  <a href="/" class='btn btn-danger' onclick='honestGuy()' style="font-size: 1.5rem;">好吧沒有</a>
</div>