<li class='d-flex justify-content-center mb-3'>
  <h2>Success! Please use this link:</h2>
</li>

<li class='d-flex justify-content-center mb-3'>
  <h4 class='text-primary'>{{url}}</h4>
</li>

<li class='copy d-flex justify-content-center mb-3'>
  <button class="copy btn btn-outline-info" data-url="{{url}}" style="width: 50%;">Copy</button>
</li>